<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
    backupGlobals="false"
    bootstrap="./autoloadTests.php"
    processIsolation="false"
    stopOnFailure="false"
    colors="true"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false"
>
  <coverage>
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Tests">
      <directory suffix=".php">./Tests/</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <!-- <source>
    <include>
      <directory suffix=".php">./lib/</directory>
    </include>
  </source> -->
</phpunit>
